body 
{
	background-color: #F0F0F0 !important;
}
.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #1D1D1D;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.sidebar a {
	display: block;
	color: #F0F0F0;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #1D1D1D;
	color: white;
}

.sidebar a:hover:not(.active) {
	
	color: #B0B0B0;
}
div.content {
	margin-left: 200px;
	height: 1000px;
}

.welcomeBanner {
	padding: 200px;
	background-color: #4B6EB9;
	color: #ffffff
}

.authHeading {
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.announcement{
	padding: 100px;
	text-align: justify;
}

.info{
	padding: 100px;
	margin-right: 100px;
	text-align: justify;
}

.authForm{
	padding: 100px;
	margin-left:100px;
}

.passwordInfo{
	padding: 100px;
	text-align: justify;

}

.footer{
	padding: 30px;
	background-color: #1D1D1D;
	color: #ffffff;
}

.loginInfo{
	text-align: justify;
	padding: 50px;
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
  margin-top: 400px;
}
.parallax__layer--back {
  transform: translateZ(-1px)scale(2.01);
}
.card {
	background-color: #F0F0F0;
}
